body {
  background: #875105 url('../img/background.jpg') no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.ui.main.container {
  padding-top: 80px;
}

a.logo {
  font-family: 'Exo', sans-serif;
  color: #f33;
}

div.center.column {
  max-width: 450px;
}

.statement {
  background-color: rgba(255,255,255,.5);
  padding: 10pt;
}

.register {
  color:#0066CC;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

a.campaigns {
  color:red;
  font-size:16px;
  font-weight: bold;
}