<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signature Collection</title>
    <link href="http://fonts.googleapis.com/css?family=Exo:900" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="pusher">
    <div class="ui fixed menu">
        <div class="ui container">
            <a href="/" class="header item logo">SIG COLLE</a>
            <div class="right menu" th:if="(${session} == null) or (${session.principal} == null)">
                <a href="/login" class="header item">ログイン</a>
                <a href="/register" class="header item">ユーザ登録</a>
            </div>
            <div class="right menu" th:unless="((${session} == null) or (${session.principal} == null))">
                <span class="header item"><span th:text="${session.principal.userName}">name</span>　さん</span>
                <a href="/logout" class="header item">ログアウト</a>
            </div>
        </div>
    </div>

    <div class="full height image">
        <div class="ui main container">
            <div class="menu bar">
            </div>
            <div class="ui information container center aligned ">
                <h1 class="ui header">SIG COLLE</h1>
                <h2>キャンペーン一覧</h2>
                <div th:each="campaign : ${campaigns}">
                    <a class="campaigns" th:href="'/campaign/'+${campaign.campaignId}" th:text="${campaign.title}">title</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
