<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signature Collection</title>
    <link href="http://fonts.googleapis.com/css?family=Exo:900" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="pusher">
    <div class="ui fixed menu">
        <div class="ui container">
            <a href="/" class="header item logo">SIG COLLE</a>
            <div class="right menu" th:if="(${session} == null) or (${session.principal} == null)">
                <a href="/login" class="header item">ログイン</a>
                <a href="/register" class="header item">ユーザ登録</a>
            </div>
            <div class="right menu" th:unless="((${session} == null) or (${session.principal} == null))">
                <span class="header item"><span th:text="${session.principal.userName}">name</span>　さん</span>
                <a href="/logout" class="header item">ログアウト</a>
            </div>
        </div>
    </div>

    <div class="full height image">
        <div class="ui main container">
            <div class="ui information container">
                <div class="ui middle aligned center aligned grid">
                    <div class="center column">
                        <h1 class="ui center aligned header">ログイン</h1>
                        <div class="ui segment">
                            <form class="ui form" method="post" action="/login"
                                th:action="@{~/login}" th:classappend="${login.hasErrors()} ? 'error'">
                                <div class="ui error message" th:if="${login.hasErrors()}" th:text="${login.getErrors('error').get(0)}"></div>
                                <div class="field" th:classappend="${login.hasErrors()} ? 'error'">
                                    <input required type="email" name="email" placeholder="メールアドレス" th:value="(${login.email}!=null)?${login.email}"/>
                                </div>
                                <div class="field" th:classappend="${login.hasErrors()} ? 'error'">
                                    <input required type="password" name="pass" placeholder="パスワード"/>
                                </div>
                                <button class="ui fluid red button">ログイン</button>
                            </form>
                        </div>
                        <a href="/register" class="register">アカウントをお持ちでない方はこちら</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
