<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- header共通部品 -->
<header class="ui fixed menu" th:fragment="header">
    <div class="ui container" th:with="isLogin=((${session} != null) and (${session.principal} != null))">
        <a href="/" class="header item logo">SIG COLLE</a>

        <div class="right menu">
            <div th:if="${isLogin}" class="ui link item dropdown">
                <span class="text">キャンペーン</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/newcampaign">新規作成</a>
                    <a class="item" href="#">作成キャンペーン一覧</a>
                </div>
            </div>

            <a th:unless="${isLogin}" href="/register" class="item">ユーザ登録</a>
            <a th:unless="${isLogin}" href="/login" class="item">ログイン</a>

            <div th:if="${isLogin}" class="ui link item dropdown">
                <span th:text="${session.principal.userName}">name</span> さん
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#">ユーザ情報変更</a>
                </div>
            </div>
            <a th:if="${isLogin}" href="/logout" class="item">ログアウト</a>
        </div>

    </div>
</header>

</html>